.cart-wrap {
  width: 80%;
  display: grid;
  place-items: center;
}

.cart-table {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.add-to-cart-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: var(--font-size-sm);
  padding-top: var(--font-size-sm);
  font-family: var(--body-font);
  font-weight: 600;
}

.add-to-cart-section button, button.add-to-cart {
  width: fit-content;
  font-weight: bold;
  font-family: var(--heading-font);
  color: var(--color-heading);
  background-color: var(--color-tab);
  border: 1px solid var(--color-heading);
  border-radius: var(--border-radius);
  padding: calc(var(--font-size-sm) / 2);
  cursor: pointer;
}

.add-to-cart-section button:hover, button.add-to-cart button:hover {
  background-color: var(--color-heading);
  color: var(--color-tab);
}

.product-image {
  text-align: left;
  padding-left: calc(var(--font-size-sm) / 2);
}

.product-name {
  width: 100%;
}

.prod-image img {
  aspect-ratio: 1;
  object-fit: cover;
  max-width: 150px;
  border: 1px solid var(--color-heading);
  border-radius: var(--border-radius);
}

.product-quantity {
  text-align: right;
  padding-right: calc(var(--font-size-sm) / 2);
}

.prod-name {
  text-align: left;
}

.prod-name-text {
  padding-left: var(--font-size-lg);
}

.prod-price {
  text-align: center;
}

.prod-qty {
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 7ch;
}

.prod-remove {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  height: 100% !important;
}

.prod-remove:hover svg path {
  fill: red;
}

.prod-remove,
.prod-remove svg,
.prod-remove svg path {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

thead,
.tabletop {
  background-color: var(--color-tab);
}

.tabletop th {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: var(--font-size-lg);
}

.strong {
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .cart-table {
    display: flex;
    flex-direction: column;
  }

  .cart-table tbody tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-table tbody .product-price,
  .prod-price {
    padding-inline: var(--font-size-sm);
  }

  .cart-table tbody .prod-image img {
    max-width: 75px;
  }
}

@media screen and (max-width: 500px) {
  .cart-table tbody .prod-image img {
    max-width: 50px;
  }
}

@media screen and (max-width: 400px) {
  .cart-wrap {
    width: 95%;
  }

  .tabletop th {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: var(--font-size-base);
}

  .prod-name-text {
    font-size: var(--font-size-sm);
    padding-left: 0;
    text-align: center;
  }

  .prod-price {
    padding-inline: 0;
    padding-left: 0;
    text-align: center;
  }
}
